<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista Proprietari</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>Lista Proprietari</h1>
<a href="/proprietari/create">Aggiungi Nuovo Proprietario</a>
<table>
    <thead>
    <tr>
        <th>Codice</th>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Città</th>
        <th>Telefono</th>
        <th>Azioni</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="proprietario : ${proprietari}">
        <td th:text="${proprietario.codProprietario}"></td>
        <td th:text="${proprietario.nome}"></td>
        <td th:text="${proprietario.cognome}"></td>
        <td th:text="${proprietario.citta}"></td>
        <td th:text="${proprietario.telefono}"></td>
        <td>
            <a th:href="@{/appartamenti/by-owner/{id}(id=${proprietario.codProprietario})}">Visualizza Appartamenti</a>
            <a th:href="@{/proprietari/delete/{id}(id=${proprietario.codProprietario})}">Elimina</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
